canvas {
	border-style: solid;
	border-color: #eee;
	border-width: 0px;
	border-bottom-width: 10px;
}
body {
	margin: 0px;
	text-align: center;
	background: linear-gradient(to bottom,  rgb(77,172,228),rgb(107,201,235));
	overflow: hidden;
}
